.product-crud-card {
    padding: 20px 20px 30px 20px;
    text-align: center;
    margin-bottom: 30px;

}

.product-info {
    border-top: 1px solid #e1e1e1;
    text-align: left;
    padding-top: 15px;
    margin-top: 15px;
}

.product-name {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.015em;
}

.product-crud-product-price-container {
    display: flex;
    margin-top: 25px;
}

.product-currency {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9e9e9e;

}

.product-crud-card-top-container img {
    width: 158px;
    height: 158px;
}

.product-crud-categories-container{
    margin-top: 15px;
    display: flex;
}