.product-crud-card {
    padding: 20px 20px 30px 20px;
    text-align: center;
    margin-bottom: 30px;

}

.product-info {
    border-top: 1px solid #e1e1e1;
    text-align: left;
    padding-top: 15px;
    margin-top: 15px;
}

.product-name {
    font-size: 20px;
    text-align: left;

    // line-height: 25px;
    letter-spacing: 0.015em;
}
.product-crud-categories-container {
    display: flex;
    flex-wrap: wrap;
}

.product-crud-card-bottom-container {
    display: flex;
    margin-top: 25px;
}

.product-currency {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9e9e9e;

}
.product-crud-card-top-container  {
    text-align: center;
}

.product-crud-card-top-container img {
    width: 158px;
    height: 158px;
}

.product-crud-categories-container{
    margin-top: 15px;
    display: flex;
}

.product-crud-card-buttons-container {
    display: flex;
    justify-content:space-between;
}

.product-crud-card-button {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.015em;
    border-radius: 10px;
    width: 110px;
    height: 40px;
}

.product-crud-card-button-first {
    margin-right: 10px;
}

@media(min-width: 768px) {
    .product-crud-card {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
         
    }       
        
    .product-crud-card-buttons-container {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .product-crud-card-button-first {
        margin-right: 0;
        margin-top: 22px;
    }

    .product-crud-card-button {
        width: 140px;
    }
    .product-crud-product-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
    }
}